.nav-wrap .navbar {
    height: 100px;
    /* background: pink; */
}

.nav-wrap {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-wrap .navbar .nav-round {
    padding: 1.4rem 1.4rem !important;
}

.nav-wrap .nav-extra-2 {
    padding: 0 !important;
}

.blog-header-logo {
    line-height: 48px;
    font-size: 1.8rem;
}

.blog-header-logo img {
    height: 50px;
    width: 50px;
}


.sticky .navbar {
    height: 70px;
    background: #004792;
}

.sticky .blog-header-logo img {
    height: 30px;
    width: 30px;
}

.sticky .blog-header-logo {
    line-height: 30px;
    font-size: 1.25rem;
}

.sticky .navbar .nav-round {
    padding: .45rem 1.4rem !important;
}


.sticky .highlight {
    line-height: 54px !important;
    padding: .5rem 1.4rem !important;
}

.highlight:hover {
    color: #007bff !important;
    border-radius: 0 !important;
    /* background-color: transparent !important; */
}

.sticky .highlight:hover {
    background-color: #007bff !important;
    color: #FFFFFF !important;
}

.active {
    color: #007bff !important;
    background-color: transparent !important;
}

.add-color {
    color: #007bff !important;
    background: transparent !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent !important;
}

.dropdown-menu {
    top: 160%;
    border: 0;
    background-color: transparent;
    padding: 0;
}

.lift-menu {
    top: 100%;
}