/********** Bootstrap customization ***********/
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;
    line-height: 2.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.move-top-space {
    line-height: 0.7 !important;
    margin-bottom: 1rem !important;
}

.delete {
    color: #dc3545;
}


html {
    width: 100%;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 400 !important;
    /* background: #c8ced2; */
    font-size: 1.2rem !important;
    color: #474747 !important;
}


header {
    margin: 0;
    text-align: left;
    /* background: #666; */
    color: #FFFFFF;
    margin-bottom: 60px;
}

.lead {
    font-weight: inherit !important;
}

a {
    text-decoration-line: none;
}

/* Navigation */

navigation {
    display: flex;
    width: 100%;
    height: 100%;
}

navigation ul {
    /* width: 980px; */
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Navigation bar */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    border-radius: 0;
}

.nav-header {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 54px;
}

.nav-extra {
    /* position: fixed !important; */
    z-index: 666;
    width: 100%;
    /* background: transparent !important; */
    background-color: #004990;
    -webkit-transition: background-color 1000ms cubic-bezier(0, 0, 0, 1.18);
    -moz-transition: background-color 1000ms cubic-bezier(0, 0, 0, 1.18);
    -o-transition: background-color 1000ms cubic-bezier(0, 0, 0, 1.18);
    -ms-transition: background-color 1000ms cubic-bezier(0, 0, 0, 1.18);
    transition: background-color 1000ms cubic-bezier(0, 0, 0, 1.18);
    padding: 0 !important;
}

/* .sticky-nav:hover {
    background: #004990 !important;
} */

.nav-round {
    line-height: 56px;
    padding: .5rem 1.4rem !important;
}

.nav-round:hover {
    background: #007bff !important;
    color: #FFFFFF;
    border-radius: 0 !important;
}

.dropdown-menu {
    margin-top: 0 !important;
    border-radius: 0 !important;
}

/* Actions */

.actions {
    margin-bottom: 1em;
}


/* Lists */

table {
    border-collapse: collapse;
    vertical-align: top;
}

table.list {
    width: 100%;
}

table.list tr td {
    border: 1px solid #999999;
}

table.list tr th {
    border: 1px solid rgb(24, 24, 24);
    background: rgb(24, 24, 24);
    color: white;
    text-align: left;
}

/* Errors */

.errors {
    display: inline-block;
    border: 2px solid red;
    color: red;
    padding: 1em;
    margin-bottom: 1em;
}

.errors ul {
    margin-bottom: 0;
    padding-left: 1em;
}

/* Session Messages */

#message {
    color: #0055DD;
    background: white;
    border: 2px solid #0055DD;
    padding: 1em 15px;
    margin: 1em 30px;
    width: 890px;
}

.si-logo {
    padding-left: 1em;
    width: 200px;
    height: 50px;
}

/* Home page */

#post-container {
    display: flex;
    justify-content: center;
}

.wrap {
    width: 70%;
}

.si-logo {
    padding-left: 1em;
    width: 200px;
    height: 50px;
}

.single-post-wrap {
    background-color: #eff3f9;
}

.posts {
    /* padding: 0 80px; */
    list-style: none;
    line-height: 1.5em;
}

.posts>li {
    /* margin-bottom: 6em; */
}

.single-post {
    margin-top: 100px;
    /* padding: 0 80px; */
    list-style: none;
}

.single-post h3 {
    font-weight: 900;
}

.post {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.post h3 {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.post:hover {
    color: inherit;
    text-decoration: none;
}

.post:hover {
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.2) !important;

}

.post:hover h3 {
    color: #ff9d29;
    /* color: #ff9d29; */
}

.post .text-success {
    color: #ff9d29 !important;
}

/* Homepage Pagination */

.pagination-post .page-item {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.pagination-post .page-item .page-link {
    border-radius: 0.35rem;
    border: none;
    padding: 0.75rem 1rem;
    font-weight: 700;
    font-size: 1rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1 !important;
    color: #004792 !important;
    background-color: #fff;
    border: 1px solid #d7dce3;
}

.page-item.disabled .page-link {
    color: #6c757d !important;
}

.pagination-post .page-item.active .page-link {
    background-color: #004792 !important;
    border-color: #004792 !important;
    color: #fff !important;
}

main.bg-light {
    background-color: #eff3f9 !important;
}



/* User Menu */

#user-menu {
    float: right;
    line-height: 53px;
    padding-right: 1.5em;
}

/* Alert */

.alert-success {
    padding: 13px 15px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.35rem;
    font-size: 16px;
    color: #155724;
}

.top-alert {
    margin-bottom: 0 !important;
    background: #28a745 !important;
    color: #fff !important;
    border: 0 !important;
    border-radius: 0 !important;
}

/* Table Alignment */

.table-top {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

/* Button */
.btn-header {
    border: 0.125rem solid #ff9d29 !important;
    border-radius: 2px !important;
    background-color: #ff9d29 !important;
    transition: all 0.2s !important;
    font-weight: 600 !important;
    margin-top: 1rem;
    font: 700 0.85rem/0 "Montserrat",
        sans-serif !important;
    padding: 1.375rem 2.125rem 1.375rem 2.125rem !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-header:hover {
    background-color: transparent !important;
    color: #ff9d29 !important;
    text-decoration: none !important;
}

/* Keyword */

.key-color {
    padding: 0 6px;
    background: #007bff;
    color: white;
    border-radius: 19px;
}

/* Hero Image */

.jumbotron {
    background-color: transparent !important;
}

.hero {
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}


.hero::before {
    background-image: url('../assets/image/stout.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero::after {
    background-color: #006190;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Drop Down Menu */

.dropdown-item {
    background-color: #f7f7f7 !important;
    color: #474747 !important;
}

.dropdown-item:hover {
    background-color: #007bff !important;
    color: #fff !important;
}

.effect {
    transform-origin: top center;
    opacity: 0;
}

/* .dropdown-item {
    padding: 1rem 1.5rem !important;
} */

.transition {
    -o-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
    padding: 0 !important;
    border: 0 !important;
    min-width: 14rem !important;
}

.arrow {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-toggle::after {
    display: none !important;
}

.up {
    transform: rotate(180deg);
}

@keyframes animate {

    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

/* Comment Section */
form button {
    margin: 5px 0px;
}

textarea {
    display: block;
    margin-bottom: 10px !important;
}

.comment-wrap {
    background: #010B20;
}

.comment-shadow {
    box-shadow: 0 4px 32px #01091a !important;
}

/*comments*/
.comment-section a:hover {
    text-decoration: none;
}

.comment .comment-name {
    font-weight: 700;
    line-height: 0.8em;
    color: #fff;
}

.comment .comment-date {
    font-size: 0.9em;
    color: #7a7a8c;
}

.comment .reply-btn,
.edit-btn {
    font-size: 0.9em;
}

.comment .profile_pic {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    float: left;
    border-radius: 50%;
    /* margin-right: 1.25rem; */
}

.comment-details p {
    margin-bottom: 0;
    color: #c2c2c2;
    font-size: 0.9em;
}

#comment-list .btn {
    border-radius: 2px !important;
}

#comment-list .btn-success {
    background: #ed8000;
    border-color: #ed8000;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    font-weight: 600;
}

#comment-list .btn-success:hover {
    background: #ff9d29;
    border-color: #ff9d29;
}

.sign-box h4 {
    margin-bottom: 0 !important;
}

.sign-box {
    background: #ed8000 !important;
    border-color: #ed8000 !important;
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.sign-box:hover {
    color: #fff;
    background-color: #ff9d29 !important;
    border-color: #ff9d29 !important;
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.2) !important;
}


/* Replies */
.reply {
    margin-left: 30px;
}

.reply_form {
    margin-left: 40px;
    display: none;
}

#comment_form {
    margin-top: 10px;
}

.textarea-style {
    border: 2px solid #ccc !important;
}

/*************************/
/*          Card         */
/*************************/

.card-footer {
    border-top: 0 !important;
}

.card {
    border: 0 !important;
}

/* Single Post */

.single-post .single-post-meta {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 0.5rem;
}

.single-post .single-post-meta .single-post-meta-img {
    height: 2.85rem;
    width: 2.85rem;
    border-radius: 100%;
    margin-right: 0.5rem;
    flex-shrink: 0;
}

.single-post .single-post-meta .single-post-meta-details .single-post-meta-details-name {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0.25rem;
}

.single-post .single-post-meta .single-post-meta-details .single-post-meta-details-date {
    font-size: 0.85rem;
    line-height: 1;
}

.single-post .single-post-meta .single-post-meta-details {
    color: #687281;
}

.single-post .single-post-meta-links {
    font-size: 1.25rem;
}

.single-post .single-post-meta-links a {
    color: #c5ccd6;
    margin-left: 0.5rem;
}

.single-post .single-post-meta-links a:hover {
    color: #687281;
}

.single-post p {
    font-size: 1.2rem;
    line-height: 1.5em;
    font-family: 'Source Sans Pro',
        sans-serif;
}

.btn-marketing {
    font-size: 0.7rem !important;
    padding: 0.5rem 1.5rem !important;
    font-weight: 700 !important;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.btn-transparent-dark {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    color: rgba(31, 45, 65, 0.5) !important;
}

.btn-transparent-dark:hover {
    color: #fff;
    background-color: rgba(31, 45, 65, 0.1);
    border-color: transparent;
}

.bot-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #010b20;
    z-index: -999;
}

/* Color */
.bg-transparent {
    background-color: transparent;
}

.bg-md-blue {
    background-color: #031544 !important;
}

.text-main {
    color: #004792;
}


/*************************/
/*  About Page Abstract  */
/*************************/

.page-about {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.page-about .page-about-content .page-about-text {
    font-size: 1.3rem;
    color: rgba(71, 71, 71, 0.5)
}

.page-about .page-about-content .btn-marketing {
    font-size: 0.85rem !important;
    padding: 0.8rem 1.5rem !important;
}

.page-about .page-about-content .img-fluid {
    max-width: 110% !important;
}

.page-about .page-about-content .btn-header {
    padding: 1rem 1.5rem 1rem 1.5rem !important;

    font: 700 0.875rem/0 "Open Sans",
        sans-serif;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.svg-inline--fa.fa-w-14 {
    width: 0.875em;
}


/*************************/
/*     About Page        */
/*************************/

.ex-header {
    padding-top: 8rem;
    padding-bottom: 5rem;
    background-color: #0b5bb1;
    text-align: center;
    padding: 10em 0 10em 0;
}

.ex-header .page-header-title {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
}

.ex-header .page-header-text {
    font-size: 1.15rem;
    color: rgba(255, 255, 255, 0.5) !important;
    letter-spacing: 1.5px;
}

.about-wrap h2 {
    font-size: 1.5rem;
}

.about-wrap p {
    color: #687281;
    font-size: 1.1rem;
    line-height: 28px;

}

.feather {
    height: 1rem;
    width: 1rem;
    vertical-align: top;
}

.icon-stack {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    background-color: #eff3f9;
}

.icon-stack.bg-primary {
    background-color: #ff9d29 !important;
}

.icon-stack svg {
    height: 1rem;
    width: 1rem;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.about-wrap ul li {
    font-size: 1.1rem;
    color: #697281;
}

.about-wrap .bg-light {
    background-color: #eff3f9 !important;
}

.about-wrap p.lead {
    font-size: 1.25rem;
}

/*************************/
/*     Contact Form      */
/*************************/

.contact-form {
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.contact-form .text-container {
    margin-bottom: 3.5rem;
    padding: 3.5rem 1rem 2.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #eff3f9;
}

.above-heading {
    color: #5f4dee;
    font: 700 0.75rem/0.875rem "Open Sans", sans-serif;
    text-align: center;
}

.contact-form h2 {
    margin-bottom: 2.75rem;
    text-align: center;
}

.form-group.has-error.has-danger {
    margin-bottom: 0.625rem;
}

.form-group {
    position: relative;
    margin-bottom: 1.25rem;
}

.form-control-input,
.form-control-select {
    display: block;
    /* needed for proper display of the label in Firefox, IE, Edge */
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    border: 2px solid #becce0;
    border-radius: 2px;
    background-color: #fff;
    color: #555;
    font: 600 0.875rem/1.875rem "Open Sans", sans-serif;
    transition: all 0.2s;
    -webkit-appearance: none;
    /* removes inner shadow on form inputs on ios safari */
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
    color: #687281;
    background-color: #fff;
    border-color: #ff9d29;
    outline: 0;
    box-shadow: 0 0 0 0.0625rem #ff9d29;

}

.form-control-submit-button {
    display: inline-block;
    width: 100%;
    height: 3.125rem;
    border: 2px solid #ff9d29;
    border-radius: 2px;
    background-color: #ff9d29;
    color: #fff;
    font: 700 0.875rem/0 "Open Sans", sans-serif;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    letter-spacing: 2px;
}

.form-control-submit-button:hover {
    background-color: transparent;
    color: #ff9d29;
}

#inputmessage {
    height: 150px;
}

/*************************/
/*        Footer         */
/*************************/
.footer .icon-container {
    text-align: center;
}

.footer .fa-stack {
    width: 2em;
    margin-bottom: 0.75rem;
    margin-right: 0.375rem;
    font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-2x {
    color: #004792;
    transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-1x {
    color: #fff;
    transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
    color: #004792;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #f3f7fd;
}

.footer .text-main,
.text-muted {
    font-size: 1rem;
}


/*************************/
/*      Hero Video       */
/*************************/

.video-wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-wrap .hero-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    color: #fff;
}

/* Home Page Navigation */
.profile-nav-pic {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 0.5rem;
    flex-shrink: 0;
    display: inline-block;
    vertical-align: -1em;
}

/*************************/
/*     Media Query       */
/*************************/

/* Min-width width 1200px */
@media (min-width: 1200px) {

    /* Contact form */
    .contact-form .text-container {
        width: 64.75rem;
        padding-top: 6rem;
        padding-bottom: 5.5rem;
    }

    .contact-form h2 {
        margin-right: 12rem;
        margin-left: 12rem;
    }

    .contact-form form {
        margin-right: 15rem;
        margin-left: 15rem;
    }
}

/* Min-width width 992px */
@media (min-width: 992px) {

    /* Contact form */
    .contact-form .text-container {
        width: 55rem;
        margin-right: auto;
        margin-left: auto;
        padding-top: 5rem;
        padding-bottom: 4.5rem;
    }

    .contact-form h2 {
        margin-right: 7rem;
        margin-left: 7rem;
    }

    .contact-form form {
        margin-right: 9rem;
        margin-left: 9rem;
    }
}

/* Min-width width 768px */
@media (min-width: 768px) {

    /* Contact form */
    .contact-form .text-container {
        padding: 4rem 2.5rem 3rem 2.5rem;
    }

    .contact-form form {
        margin-right: 4rem;
        margin-left: 4rem;
    }
}

/* Fade Animation For Hero Video */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: fadeIn 0.6s;
    animation: fadeIn 0.6s;
}